@import 'react-toastify/dist/ReactToastify.css';

@import './fonts';
@import './variables';
@import './reset';
@import './../components/common/Drawer/styles.scss';

.font__heading {
  font-size: var(--fs-2);
}

// Hover link
.link__hover {
  position: relative;
}

.link__hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9d7853;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.link__hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
